/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #eeeeee;
    --cor-de-link: #000;
    --open-sans:'Roboto', sans-serif;
    --montserrat:'Montserrat', sans-serif;
    --fondo-clarito:#EAF2FD;
    --color-azul:#3472c9;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

strong{
    color: var(--color-azul);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    margin: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    background-color: var(--cor-de-fundo);
}

.menu__header{
    margin: 0 2%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu__header-nombre{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu__title{
    font: 15px;
}

.menu__list{
    display: none;
}



/*Sección Title*/

section.title{
    margin: 0 4%;
    background: var(--cor-de-fundo);
}

.title__div{
    display: flex;
    flex-direction: column;
}

.title__profile{
    width: 160px;
    align-self: center;
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__bio{
    text-align: center;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.title__subsection{
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.title__network{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0;
}


.title__CV:hover{
    color: #fff;
}

.title__CV:hover{
    transition: all .2s ease-in-out;
    background-color: #000;
    transform: scale(1.1);
}

.title__CV{
    text-align: center;
    font-family: var(--montserrat);
    border: #000 solid;
    border-radius: 50px;
    padding: 10px;
    transition: all .2s ease-in-out;
}

/*Sección About*/

section.about{
    margin-top: 30px;
    padding: 0.8rem 0;
}

.about__container{
    margin: 0 4%;
}

.about__title{
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-azul);
    position: relative;
}

.about__title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 3px;
    background-color: var(--color-azul);
}

.about__paragraph{
    font-family: var(--open-sans);
    font-weight: 600;
}

.about__firma{
    width: 100px;
}



/*Sección Skills*/

section.skills{
    background-color: var(--cor-de-fundo);
    margin: 0 4%;
}

.skills__title{
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-azul);
    position: relative;
}

.skills__title::before{
    content: "";
    position: absolute;
    bottom: -13px;
    width: 58px;
    height: 3px;
    background-color: var(--color-azul);
}

.skills__line{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 550px;
}


.skills__box-ul{
    width: 156px;
    height: 120px;
    box-shadow: 1px 6px 15px #e0dfdf;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.skills__img{
    text-align: center;
}
.skills__name{
    font-family: var(--open-sans);
    font-weight: 600;
}


/*Sección Hobbies*/

section.hobbies{
    margin: 0 4%;
    background-color: var(--cor-de-fundo);
}

.hobbies__title{
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    color: var(--color-azul);
}


.hobbies__title::before{
    content: "";
    position: absolute;
    bottom: -13px;
    width: 95px;
    height: 3px;
    background-color: var(--color-azul);
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:300px;
    row-gap: 30px;
}


.hobbies__box-ul{
    width: 156px;
    height: 120px;
    box-shadow: 1px 6px 15px #e0dfdf;
    padding: 0;
    margin: 0;
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbies__img-imagen{
    width: 60px;
    height: 50px;
}

.hobbies__name{
    font-family: var(--open-sans);
    font-weight: 600;
}

/* Experiencia Académica*/


.academic__container{ 
    margin: 0 4%;
}

.academic__title{
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-azul);
    position: relative;
    margin-bottom: 3rem;
}

.academic__title::before{
    content: "";
    position: absolute;
    bottom: -13px;
    width: 250px;
    height: 3px;
    background-color: var(--color-azul);
}

.academic__courses__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.academic__courses__list{
    padding: 0;
    margin: 0;
}


.academic__courses__item__img{
    width: 300px;
    height: 140px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic__courses__item__img img{
    width: 150px;
    transition: all .2s ease-in-out;
}

.academic__courses__item__img img:hover{
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.academic__courses__item__title{
    font-family: var(--montserrat);
    font-size: 1.1rem;
    font-weight: 700;
}

.academic__courses__item__subtitle{
    font-family: var(--open-sans);
    font-size: 0.9rem;
    font-weight: 300;
}



/* experiencia*/

section.experience{
    margin:0 4%;
}

.experience__section__title{
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 0;
    position: relative;
    color: var(--color-azul);
}

.experience__section__title::before{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 260px;
    height: 3px;
    background-color: var(--color-azul);
}

.expreience__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.experiencie__box{
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0;
}


.experience__img{
    width: 296px;
    max-width: 700px;
    border:  1px solid rgb(92, 91, 91);
}


.experience__title{
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--color-azul);
}
.experience__text{
    font-family: var(--open-sans);
    font-weight: 300;
}


.experience__description{
    display: flex;
    column-gap: 20px;
}




.experiencia__botao--repo{
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: 1px solid #000;
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: 700;
}

.experience__botao--demo{
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid #ffffff;
    color: #fff;
    background-color: var(--color-azul);
}


/*Contacto*/

section.formcontato{
    padding: 1rem 0;
}


.formcontato__contacto{
    margin: 0 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formcontato--esquerda{
    display: none;
}

.formcontato__title{
    margin-bottom: 50px;
    color: var(--color-azul);
    text-align: center;
    font-family: var(--montserrat);
    font-weight: 700;
    position: relative;
}

.formcontato__title::before{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 112px;
    height: 3px;
    background-color: var(--color-azul);
}


.formcontato__subtext{
    font-family: var(--open-sans);
    font-weight: 300;
    font-size: 1.2rem;
}

.formcontato__form{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formcontato__input{
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: .3rem;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    outline: none;
    font-family: var(--montserrat);
}





.formcontato__input::placeholder{
    padding: .5rem;
}


.formcontato__textarea{
    width: 100%;
    border-radius: .3rem;
    border: none;
    resize: none;
    height: 120px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    font-size: 1rem;
    outline: none;
}


.formcontato__textarea::placeholder{
    font-family: var(--montserrat);
    padding: .5rem;
}


.formcontato__botao{
    width: auto;
    height: 45px;
    background-color: var(--color-azul);
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-family: var(--montserrat);
    font-size: .9rem;
    margin: .8rem 0;
    padding: 0;
}

.formcontato__form__container--invalid input {
    border: 2px solid #cf0808;
    border-radius: 5px;
}

.formcontato__form__container--invalid textarea{
    border: 2px solid #c70707;
    border-radius: 5px;
}

.formcontato__input--error{
    display: none;
}

.formcontato__form__container--invalid .formcontato__input--error {
    display: block;
    margin-bottom: 12px;
    font-family: var(--montserrat);
    color: #fc0b0b;
}



/*footeer*/

section.footer{
    margin: 0 4%;
    background-color: var(--cor-de-fundo);
    height: 70px;
}

.footer__rodape{
    text-align: center;
    font-family: var(--open-sans);
    font-size: 1.1rem;
}

.footer__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {
    /*title*/
    .title{
        height: 190px;
    }
    .title__div{
        flex-direction: row-reverse;
        gap: 25px;
    }

    /*Skills*/
    section.skills{
        height: 600px;
    }
    .skills__line{
        align-items: center;
        justify-content: space-evenly;
    }
    .skills__box-ul{
        width: 230px;
    }

    /*Hobbies*/
    section.hobbies{
        height: 400px;
    }
    .hobbies__line{
        align-items: center;
        justify-content: space-between;
    }
    .hobbies__box-ul{
        width: 230px;
    }

    /*Formación Académica*/
    .academic__courses{
        display: flex;
        justify-content: space-around;
    }
    .academic__courses__item__img{
        width: 250px;
    }
    /*Experiencia Profesional*/
    section.experience{
        height: 2400px;
    }
    .expreience__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .experiencie__box{
        width: 600px;
    }
    .experience__img{
        width: 100%;
    }
    /* Contacto */
    .formcontato__form{
        width: 80%;
    }
}

/*Desktop*/

@media (min-width: 1024px) {
    section{
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
    /*Menu*/
    .menu__list__item__contato{
        display: none;
    }
    .menu__list{
        width: 100%;
        display: flex;
        gap: 20px;
    }

    /*Titulo*/
    .title__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        animation:scale-up-horizontal-center 0.7s} @keyframes scale-up-horizontal-center{0%{transform:scaleX(.2)}100%{transform:scaleX(1)}
    }
    
    .title{
        height: 280px;
    }
    .title__bio{
        font-size: 2.1rem;
    }
    .title__profile{
        width: 300px;
        height: 250px;
    }

    /*Sección sobre mi*/
    .about__title:first-child{
        text-align: center;
    }
    .about__title{
        font-size: 1.6rem;
    }
    .about__container{
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    /*Skills*/
    section.skills{
        margin: 0;
        height: 500px;
    }
    .skills__title{
        font-size: 1.6rem;
    }
    .skills__title::before{
        width: 65px;
    }
    .skills__line{
        height: 300px;
        align-items: center;
        gap: 25px;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .skills__box{
        transition: all .2s ease-in-out;
    }
    .skills__box:hover{
        transform: scale(1.15);
        transition: all .2s ease-in-out;
    }
    .skills__box-ul{
        width: 180px;
        height: 180px;
    }

    /*Hobbies*/
    section.hobbies{
        margin: 0;
    }
    .hobbies__title{
        font-size: 1.6rem;
    }
    .hobbies__title::before{
    width: 107px;
    }
    .hobbies__line{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .hobbies__box{
        transition: all .2s ease-in-out;
    }
    .hobbies__box:hover{
        transform: scale(1.15);
        transition: all .2s ease-in-out;
    }
    .hobbies__box-ul{
        width: 180px;
        height: 180px;
    }

    /*Formación Académica*/
    section.acedemic{
        height: 550px;
    }
    .academic__title{
        font-size: 1.6rem;
    }
    .academic__title::before{
        width: 289px;
    }
    .acedemic__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 550px;
    }
    .academic__courses{
        gap: 15px;
    }
    .academic__courses__item__img{
        width: 330px;
        height: 290px;
    }
    .academic__courses__item__img img {
        width: 250px;
    }
    /*Experiencia Profesional*/
    section.experience{
        height: 2000px;
        padding: 0;
    }
    .expreience__container{
        display: grid;
    }
    .experiencie__box{
        flex-direction: row;
        justify-content: start;
        gap: 20px;
        width: auto;
    }
    .experiencie__box:nth-child(2){
        flex-direction: row-reverse;
    }
    .experiencie__box:nth-child(4){
        flex-direction: row-reverse;
    }
    /*Contacto*/
    .formcontato__form{
        width: 50%;
    }
    .formcontato__contacto{
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    .formcontato--esquerda{
        display: flex;
    }
    /*Footer*/

}


/* JS validar */
.formcontato__resultado{
    font-size: 1.5rem;
    font-family: var(--montserrat);
    color: #f11;
}